@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Poppins:ital,wght@0,300;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@700&family=Vina+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}
/* ===== header start ===== */

header .head_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* ===== btn_menu ===== */

.btn_menu {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin: 0px 10px; */
  padding: 10px 20px;
  background-color: #450000;
}

.btn {
  /* background-color: rgb(227, 13, 13); */
  text-align: center;
}

.btn a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.CD {
  color: #fff;
}

header .head_container .head_logo img {
  width: 130px;
  margin: 5px 0;
}

header .head_container .college_name {
  text-align: center;
}

header .head_container .college_name h2 {
  color: brown;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

header .head_container .college_name p {
  color: #000;
  font-weight: bold;
}

.established {
  text-align: center;
  line-height: 0.9 !important;
  margin: 0px;
}

.established h2 {
  font-family: "Kalam", cursive !important;
  color: brown;
  font-size: 1.5rem;
  margin: 0px;
  font-weight: 600;
}
.established h3 {
  font-size: 1.25rem;
  margin: 0px;
  font-weight: bold;
  line-height: 1;
}
.established p {
  /* opacity: .6; */
  color: grey;
  margin-top: 10px !important;
}

/* ====== navbar ====== */

nav i {
  float: right;
  font-size: 10px;
  margin: 18px 0 0 4px;
}

#container {
  /* margin: 0 auto; */
  width: 100vw;
}

.toggle,
[id^="drop"] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #450000;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  /* float: left; */
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  z-index: 999999;
  /* background-color: #450000; */
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

nav ul li ul li {
  background-color: #450000;
}
nav ul li ul li a {
  font-size: 15px;
}

nav ul li ul li:hover {
  background: #000000;
}

nav a:hover {
  background-color: #000000;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 40px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 235px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -40px;
  left: 235px;
}

li > a:after {
  content: " ";
}

li > a:only-child:after {
  content: "";
}
/* ===== navbar end ===== */

/* ===== section2 ===== */
.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 70px 0 30px 0;
  /* position: relative; */
  /* top: -30px; */
  /* background-color: #000; */
}

.section2 .card-container {
  background-color: black;
  width: 300px;
  height: 15vh;
  padding: 0 auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 5px 10px grey;
}

.section2 .card-container .card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}

.section2 .card-container .card-box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 .card-container .card-box i {
  font-size: 50px;
  border: 1px solid transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: black;
}

.section2 .card-container .card-box h2 {
  color: white;
  margin: 8px 0;
}

.section2 .card-container .card-box p {
  color: orange;
  margin: 0 15px;
  text-align: center;
  font-size: 18px;
}

/* ===== section2 hover =====*/

.section2 .card-container:hover {
  background-color: #fff;
  cursor: pointer;
}

.section2 .card-container:hover h2 {
  color: black;
}

.section2 .card-container:hover p {
  color: red;
}

.section2 .card-container:hover i {
  background-color: #fff;
}

/* ===== scrolling_menu ===== */

.scrolling_menu {
  display: none;
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: #450000;
}

.btn {
  /* background-color: rgb(227, 13, 13); */
  text-align: center;
}

.btn a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

/* ===== scrollingTxt ===== */
.scrollingTxt {
  /* background-color: black; */
  background-color: rgb(255, 217, 0);
  width: 100%;
  height: 5vh;
  box-shadow: 1px 5px 10px grey;
}

.scrollingTxt .text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 120px;
  color: white;
  height: 100%;
}

.text p {
  display: inline;
  margin-right: 50px;
  color: #000;
  font-weight: bold;
}

/* ===== shortcut button ===== */
.short_section {
  background-color: rgba(232, 230, 230, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.short_section .short_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80vw;
  padding: 30px 0;
}

.short_section .short_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 5px;
  height: 150px;
  background-color: #c5c591;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  transition: 0.4s linear 0.1s;
}

.short_section .short_box:hover {
  scale: 1.1;
}

.short_section .short_box i {
  color: #000;
  font-size: 60px;
}

.short_section .short_box h3 {
  border-top: 1px solid;
  padding: 0px 5px 8px 5px;
  background-color: rgb(87, 7, 7);
  width: 100%;
  text-align: center;
  /* font-family: 'Edu SA Beginner', cursive; */
}

.short_section .short_box h3 a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  margin: 0px;
}

/* ===== section3 ===== */
.section3 {
  display: grid;
  grid-template-columns: 350px 1fr;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 200px 0;
  gap: 20px;
  background-color: transparent;
  /* border-bottom: 1px dotted; */
}

.section3 .image {
  display: flex;
  justify-content: center;
  /* width: 350; */
  /* height: 400px; */
}

.section3 h2 {
  text-align: center;
  color: rgb(128, 7, 7);
}

.section3 p {
  /* text-align: center; */
}

.section3 .aboutClg {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.section3 .aboutClg .about {
  /* margin-bottom: 5px; */
}

.section3 .aboutClg .about h2 {
  background-color: rgb(255, 217, 0);
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 5px 20px grey;
  font-size: 1.5rem;
  padding: 5px;
}

.section3 .aboutClg .about p {
  margin: 20px 0;
}

.section3 .aboutClg .OvM h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(128, 7, 7);
}

.section3 .aboutClg .OvM p {
  margin: 10px 0 5px 0;
}

/* ===== principal section ===== */

.principal_section {
  display: grid;
  grid-template-columns: 350px 1fr;
  margin: 30px 200px;
  padding: 30px 0;
  gap: 20px;
  color: #341111;
}

.principal_section .card {
  /* background-color: rgb(248, 249, 220); */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal_section .photo_frame .image {
  border: 5px solid white;
}

.principal_section .photo_frame p {
  margin: 10px 0;
  font-weight: bold;
  text-decoration: underline;
}

.principal_section .photo_frame h2 {
  color: rgb(128, 7, 7);
}

.principal_section .about_pri {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.principal_section .about_pri h2 {
  text-decoration: underline;
  color: rgb(128, 7, 7);
}

/* ===== section4 ===== */
.section4 {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0px 100px;
}

.section4 .notice {
  display: flex;
  flex-direction: column;
  border-radius: 15% 0 0 15%;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgb(197, 190, 190);
  height: 400px;
}

.section4 .activities {
  display: flex;
  flex-direction: column;
  border-radius: 0 15% 15% 0;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgb(197, 190, 190);
  height: 400px;
}

.section4 .activities .cal-page {
  margin: 10px 5px;
  height: 21rem;
}
a {
  color: unset;
  text-decoration: none;
}
.notice_h1 {
  text-align: center;
  padding: 10px;
  /* background: linear-gradient(rgb(235, 164, 164), orange); */
  background-color: #450000 !important;
  color: #fff;
  font-size: 1.5rem;
}

.section4 .notice-page {
  height: 100%;
  margin: 10px 20px;
}

.section4 .notice-page p {
  margin: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted black;
}
.section4 .notice-page a {
  color: #ff5722;
  text-decoration: none !important;
}
/* ===== section5 ===== */
.fullbg {
  /* background: linear-gradient(rgb(235, 164, 164), orange); */
  background-color: #450000 !important;
  color: #fff;
  border-radius: 50% 0 50% 0;
  text-align: center;
  box-shadow: 10px 5px 20px grey;
  margin: 70px 200px 20px;
}

.section5 {
  background-color: rgba(232, 230, 230, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-x: scroll; */
}

.events {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70vw;
  padding: 60px 0 30px;
}

.events .event-container {
  background-color: rgb(229, 225, 248);
  width: 300px;
  height: 100%;
  padding: 0 auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 5px 10px rgb(211, 200, 200);
  border: 2px solid transparent;
}

.events .event-container .event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -35px;
}

.events .event-container .event-box .date {
  font-size: 24px;
  border: 1px solid transparent;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: black;
  margin: 0 0 10px;
}

.events .event-container .event-box .date > p {
  color: red;
}

.events .event-container .event-box h2 {
  color: red;
  margin: 8px 0;
}

.events .event-container .event-box p {
  color: black;
  margin: 0 15px;
  text-align: center;
  font-size: 15px;
}

/* ===== section5 hover =====*/

.events .event-container:hover {
  background: linear-gradient(grey, black);
  cursor: pointer;
  border: 2px solid red;
}

.events .event-container:hover h2 {
  color: white;
}

.events .event-container:hover p {
  color: red;
}

.events .event-container:hover .date {
  background-color: #fff;
  border: 4px solid red;
}

/* ===== other link section ===== */
.section6 {
  background-color: rgba(253, 200, 0, 1);
  padding: 5px 0;
}

.oLinks {
  margin: 50px 200px;
}

.oLinks h2 {
  background-color: #450000 !important;
  color: #fff;
  border-radius: 50% 0 50% 0;
  text-align: center;
  box-shadow: 10px 5px 20px grey;
}

.oLinks .items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0 20px 20px;
}

.oLinks .items .item {
  border: 1px solid rgb(227, 222, 222);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(231, 226, 226);
  padding: 10px;
  width: 150px;
  height: 100px;
  background-color: #fff;
}

.oLinks .items .item:hover {
  box-shadow: 10px 5px 20px grey;
}

.oLinks .items .item img {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* ===== footer ===== */
footer {
  display: flex;
  flex-direction: column;
  /* height: 40vh; */
  background-color: #450000;
  color: #f1f1f1;
  line-height: 2;
}

footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 200px;
  justify-content: center;
  align-items: self-start;
}

footer .bottom-footer h4 {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(39, 39, 39);
  color: #f1f1f1;
  margin: 0px;
  font-size: 0.9rem;
}

marquee {
  scroll-behavior: smooth !important;
}

.social_media_icon a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 10px 0 0;
}

.social_media_icon a:hover i {
  scale: 1.5;
}

.QL ul {
  margin-left: 20px;
}

.QL ul a {
  text-decoration: none;
  color: #fff;
}

.QL ul li:hover {
  scale: 1.1;
  color: red;
}

/* ===== common class ===== */

.center {
  text-align: center;
}

.bg-box {
  background-color: rgb(255, 217, 0);
  font-weight: bold !important;
  box-shadow: 10px 5px 20px grey;
  margin: 24px 0;
}
